@charset "ISO-8859-1";
#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f656;
    padding: 80px 0px;
    margin: 40px 0px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.client-heading h3{
    font-size: 1.56rem;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.client-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin-top: 40px;
}
.client-box{
    background-color: #ffffff;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.05);
    border-radius: 0px 30px 0px 30px;
}
.client-profile{
    display: flex;
    align-items: center;
}
.client-profile img{
    width:40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-text strong{
    color: #393939;
    font-size: 1rem;
    font-weight: 600;
}
.profile-text span{
    color: #949494;
    font-weight: 500;
    font-size: 0.9rem;
}
.rating{
    display: flex;
    margin: 10px 0px;
}
.rating i{
    color: #fdcc0d;
}
.client-box p{
    color: #7c7c7c;
}

/*==partner-logo=================================*/
#partner{
    margin: 100px auto;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.logo-container img{
    height: 55px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: all ease 0.3s;
}
.logo-container img:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: all ease 0.3s;
}