<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>Controller.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/LoginS</url-pattern>
  </servlet-mapping>
  <display-name>Grocery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>log</display-name>
    <servlet-name>log</servlet-name>
    <servlet-class>c.log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Foods</display-name>
    <servlet-name>Foods</servlet-name>
    <servlet-class>Controller.Foods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Foods</servlet-name>
    <url-pattern>/Foods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerss</display-name>
    <servlet-name>Customerss</servlet-name>
    <servlet-class>Controller.Customerss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerss</servlet-name>
    <url-pattern>/Customerss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pp</display-name>
    <servlet-name>Pp</servlet-name>
    <servlet-class>Controller.Pp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pp</servlet-name>
    <url-pattern>/Pp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cc</display-name>
    <servlet-name>Cc</servlet-name>
    <servlet-class>Controller.Cc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cc</servlet-name>
    <url-pattern>/Cc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ff</display-name>
    <servlet-name>Ff</servlet-name>
    <servlet-class>Controller.Ff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ff</servlet-name>
    <url-pattern>/Ff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oo</display-name>
    <servlet-name>Oo</servlet-name>
    <servlet-class>Controller.Oo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oo</servlet-name>
    <url-pattern>/Oo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryDate</display-name>
    <servlet-name>HistoryDate</servlet-name>
    <servlet-class>DaoImp.HistoryDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryDate</servlet-name>
    <url-pattern>/HistoryDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartHisorty1</display-name>
    <servlet-name>CartHisorty1</servlet-name>
    <servlet-class>Controller.CartHisorty1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartHisorty1</servlet-name>
    <url-pattern>/CartHisorty1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cch</display-name>
    <servlet-name>Cch</servlet-name>
    <servlet-class>Controller.Cch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cch</servlet-name>
    <url-pattern>/Cch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hh</display-name>
    <servlet-name>Hh</servlet-name>
    <servlet-class>Controller.Hh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hh</servlet-name>
    <url-pattern>/Hh</url-pattern>
  </servlet-mapping>
</web-app>